<h1>Edit Item</h1>

<%# Form for @item variable from items_controller %>
<%= simple_form_for @item do |f| %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :description, label: "Description" %>
  <%= f.button :submit, "Edit" %>
<% end %>